

.nav{
  height:100px;
}

.logo{
  max-width: 600px;
  position:relative;
  display: block;
  margin:auto;
}

.banner{
  height:300px;
  background-image: url(https://static1.squarespace.com/static/5a4d5121e5dd5be338087d28/5a68b0e953450a1e86bc9edb/5a6901f624a694afea525946/1516831223269/peoplebanner.jpg?format=2500w);
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
}

.white-text-h1{
  font-size: 28px;
  color: white;
  padding-top:3%;
  font-family: Georgia;
  font-weight:normal;
}

.white-text-p{
  font-family: Futura;
  font-weight: lighter;
  padding:2% 20%;
  color: white;
  font-size: 19px;
  line-height: 160%;
}

.topic-col-12 {
  text-align: center;
  padding:6%;
}

h1{
  font-family: Georgia;
  font-size:32px;
  font-weight: lighter;
}
.col-4-container{
width:90%;
 margin:auto;
}

.row .col-4{
  width:28.3333%;
  float: left;
  margin-left:1%;
  margin-right:2%;
  padding:1%
}

.row:after {
  display: table;
  clear: both;
  content: '';
}
h2{
  font: Futura;
  text-transform: uppercase;
  font-size:18px;
  color:rgb(227,75,60);
  letter-spacing: 1.2px;
}
ul{
  list-style-type: none;
    margin: 0;
    padding: 0;
    font-family: Futura;
    font-weight: lighter;
    font-size: 18px;
    line-height: 120%;
}
li{
  margin:15px;
}
.col-4 .image{
  width:80px;
  position:relative;
  display: block;
  margin:auto;
}
